.ebay-ad-thumbnail-img{
  height: 100px;
}

.affiliate-info{
  color:#858a8c;
  font-size:12px;
}

.ebay-ad{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.ebay-ad-content{
  display: flex;
  border-style: solid;
  border-color: #858a8c;
  border-width: 2px;
}