.amazon-affiliate-disclaimer-label{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 1px 5px;
    font-size: 0.8em;
    font-style: italic;
    color: var(--primary-med-or-secondary-med);
}

.amazon-affiliate-disclaimer-ad{
    background: var(--tertiary);
    color: var(--secondary);
    border-radius: 5px;
    padding: 1px 5px;
    font-size: 0.8em;
    margin-right: 4px;

}
